:root {
    --primary-color: #1e1e1e;
    --secondary-color: #545454;
    --secondary-slight-light-color: #6c6c6c;
    --secondary-light-color: #b6b3b3;
    --cta-color: #00ffc1;
    --cta-hover-color: #23e8b8;
    --cta-light-color: #a1ffe8;
    --cta-mostlight-color: #e6fff9;
    --cta-outline-color: #01906d;
    --error-bg-color: #dc352c;
    --success-bg-color: #47F68D;
    --warning-bg-color: #ffc107;
    --white-color: white;
    --pink-shade-color: #F45B69;
    --blue-shade-color: #028090;
    --green-shade-color: #0A8754;
    --orange-shade-color: #ff9900;
    --purple-shade-color: #4605a4;
    --box-shadow-color: rgb(0 0 0 / 24%);
    --transition02: 0.2s;
    --transition03: 0.3s;
    --transition05: 0.5s;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

main{
    position: relative;
}
main::after {
    content: "";
    width: 100%;
    height: 100%;
    max-height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 0);
    background-color: var(--cta-color);
    z-index: -1;
}
.main-container{
    max-width: 1024px;
    margin: auto;
    padding: 20px;
}
.d-flex {
    display: flex;
    align-items: center;
}

.d-flex-dir-col {
    flex-direction: column;
}

.d-flex-just-cent {
    justify-content: center;
}

.d-flex-just-space-btw {
    justify-content: space-between;
}
.txt-center{
    text-align: center;
}
.hidden-ele {
    display: none;
    visibility: none;
    opacity: 0;
    width: 0;
    height: 0;
}

.web-links {
    position: relative;
    height: 40px;
    min-width: 40px;
    margin: 5px;
    padding: 5px 8px;
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-color);
    border-radius: 5px;
    outline: 2px solid transparent;
    transition: var(--transition05);
}

.web-links:hover,
.web-links:focus {
    background-color: var(--cta-hover-color);
    color: var(--primary-color);
}
.web-links:focus {
    outline: 2px solid var(--cta-outline-color);
}
.company-logo-container:hover,
.company-logo-container:focus {
    background-color: initial;
    color: initial;
}
.company-logo-container:focus {
    outline: none;
}

.web-links .link-icon {
    font-size: 24px;
}

.web-links .link-search-icon {
    font-size: 18px;
}

.web-links .link-text {
    display: none;
    margin-left: 5px;
}

nav [data-nav-title]::before,
nav [data-nav-title]::after {
    cursor: default;
    position: absolute;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
}

nav [data-nav-title]::before {
    content: '';
    top: calc(100% - 7px);
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    vertical-align: middle;
    border-bottom-color: var(--secondary-color);
}

nav [data-nav-title]::after {
    content: attr(data-nav-title);
    right: 0;
    top: calc(100% + 7px);
    padding: 4px 4px 4px 8px;
    font-size: 14px;
    color: var(--white-color);
    white-space: nowrap;
    border-radius: 5px;
    background-color: var(--secondary-color);
}

nav [data-nav-title]:hover::before,
nav [data-nav-title]:focus::before,
nav [data-nav-title]:hover::after,
nav [data-nav-title]:focus::after {
    opacity: 1;
    transition: 0.5s;
    visibility: visible;
}


#user-action-status-messages {
    position: fixed;
    bottom: 5px;
    margin: 0 10px;
    z-index: 1;
}

.user-action-status-container {
    position: relative;
    display: flex;
    align-items: center;
    padding: 5px 8px;
    margin: 10px 0;
    max-width: 300px;
    min-width: 180px;
    left: -100%;
    border-radius: 5px;
    animation: statusMessageAnime var(--transition02) linear forwards;
}
@keyframes statusMessageAnime {
    0% {
        left: -100%;
    }

    100% {
        left: 0;
    }
}

.user-action-status-container .message-icon {
    margin-right: 8px;
    font-size: 22px;
    flex-shrink: 0;
}

.user-action-status-container .message-text {
    margin-right: 23px;
}

.user-action-status-container button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    margin-left: auto;
    background-color: inherit;
    color: var(--white-color);
    border: none;
    border-radius: 50%;
    filter: brightness(0.9);
    flex-shrink: 0;
}

.user-action-status-error {
    background-color: var(--error-bg-color);
    color: var(--white-color);
}

.user-action-status-success {
    background-color: var(--success-bg-color);
    color: var(--secondary-color);
}
@media only screen and (min-width: 592px) {
    .web-links .link-text {
        display: inline-block;
    }

    nav [data-nav-title]::before,
    nav [data-nav-title]::after {
        display: none;
    }
}

@media (prefers-reduced-motion) {
    :root {
        --transition02: 0;
        --transition03: 0;
        --transition05: 0;
    }
}