footer {
    background-color: var(--cta-light-color);
    padding: 70px 28px;
    font-size: 16px;
    margin-top: 80px;
    position: sticky;
    top: 100vh;
}

footer h5 {
    font-size: 25px;
    font-weight: 500;
}

footer a {
    text-decoration: none;
    color: var(--primary-color);
    margin: 5px 0;
}

.mail-link {
    margin-top: 20px;
}

footer a:hover,
footer a:focus {
    text-decoration: underline;
}

@media only screen and (min-width: 670px) {
    footer {
        padding: 80px;
    }
}